@import url('https://fonts.googleapis.com/css?family=Galada');

body{
  background-image:url('img/light-bg1.png');
  text-align:center;
}
  h1{
   font-size:5em;
   font-family:'Galada', cursive;
   
  }
p{
  margin:2em;
  line-height:1.5;
}
  .start{
    display:block;
    background-color: purple;
    color:white;
    width:8em;
    height:8em;
    margin-left:auto;
    margin-right:auto;
    border-radius:2.5em;
    line-height:8em;
  }
.number{
  font-size:2em;
  width:100px;
  height:80px;
  margin-bottom:1em;
  
}
  
}
}